html {
 height: 100%;
 background-image: url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed; 
 background-size: cover;
 margin: auto;
 width: 100%;
}

body {
 background: grey;
 opacity: 0.7;
 margin: auto;
 max-width: auto;
 margin-top: 40px;
 padding: 2.25%;
 width: 45%;
 padding-bottom: 10%;
}

h1 {
 font-family: "Courier New", Courier, monospace;
 margin: 20px; 
 font-size: 60px;
 color: rgb(25, 1, 161);
 text-align: center;
 margin-top: 0;
 margin-bottom: 0; 
}

h5 {
 margin-top: 10px;
 margin-left: 3px;
 text-align: center
}

h3 {
 margin-top: 10px;
 margin-left: 3px;
 text-align: center
}

h4 {
 margin-top: 10px;
 margin-left: 3px;
 text-align: center
}



#welcome {
 text-align: center
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: rgb(136, 150, 153);
}

li {
 float: center;
}

li a {
 display: block;
 color: rgb(0, 119, 255);
 text-align: center;
 padding: 20px 16px;
 text-decoration: none;
}


.field_with_errors {
 padding: 2px;
 background-color: red;
 display: table;
}