<html>
<head>
</head>
<div id= "welcome">
    <div>
       <h5 id="welcome_to">Welcome to</h5>
            <h1 id= "bookhub"> bookHub </h1>
            <br>
        </div>
    <div>
        <h3 id="instructions">Sign up or login.</h3>
        <br>
        <div id="button">
            <h5><%= flash[:error] %></h5>
            <a id="signup" href="/signup"><button>Join the Hub</button></a>
            <a id="login" href="/login"><button>Log In</button></a>
            <h5><%= button_to "Log in with Google", '/auth/google_oauth2', method: :get %></h5>
            <h5> © 2020 bookHub <h5>
        </div>
    </div>
</div> 